@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
  --secondary-color: #ffb065;
  --mobile-menu-color: #20272e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
  letter-spacing: 0.02em;
}

.hidden {
  overflow: hidden;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

@media only screen and (max-width: 795px) {
  .navbar nav {
    display: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--mobile-menu-color);
    height: 100vh;
    padding: 1em;
    -webkit-transition: -webkit-transform 0.3s 0.2s ease;
    transition: -webkit-transform 0.3s 0.2s ease;
    transition: transform 0.3s 0.2s ease;
    transition: transform 0.3s 0.2s ease, -webkit-transform 0.3s 0.2s ease;
  }
  .navbar nav.menu-btn {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: block;
  }
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 1002;
}

.navbar .mobile-menu:focus {
  outline: none;
}

.navbar .mobile-menu span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: var(--primary-color);
}

.navbar .mobile-menu span::before,
.navbar .mobile-menu span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--primary-color);
  -webkit-transition-property: bottom, top, -webkit-transform;
  transition-property: bottom, top, -webkit-transform;
  transition-property: bottom, top, transform;
  transition-property: bottom, top, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.3s, 0.3s, 0;
          transition-delay: 0.3s, 0.3s, 0;
}

.navbar .mobile-menu span::before {
  top: -10px;
}

.navbar .mobile-menu span::after {
  bottom: -10px;
}

.navbar .mobile-menu.is-active span {
  background: none;
}

.navbar .mobile-menu.is-active span::before {
  top: 0;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  background: var(--secondary-color);
}

.navbar .mobile-menu.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  background: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero .left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: 0.3em;
}

.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.hero .left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.hero .left-col .primary-cta:hover {
  background: var(--secondary-color);
}

.hero .left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.hero .left-col .watch-video-cta img {
  margin-right: 0.5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

.features-section {
  background: var(--mobile-menu-color);
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  position: relative;
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/bullet.svg);
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  background-color: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

input[type="submit"]:hover {
  background: var(--secondary-color);
}

iframe {
  width: 100%;
  height: 300px;
}

ul.primary-nav {
  margin-top: 5em;
}

li {
  padding-left: 30px;
}

li a {
  padding-right: auto;
  display: inline-block;
  color: white;
  text-align: left;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

li a:hover {
  color: var(--secondary-color);
}

@media only screen and (min-width: 796px) {
  .mobile-menu {
    display: none;
    position: static;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .container .logo {
    margin-right: 2em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .navbar {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
  }
  .navbar nav a {
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .left-col {
    margin: 3em 3em 0 5em;
  }
  .left-col h1 {
    font-style: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}

.primary-nav {
  display: block;
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=main.css.map */